body {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url(imagendefondo.png) no-repeat fixed black;
  background-size: cover;
  max-width: 80% auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

